html,body{
    height:100%; /** it's important! */
}
div, body {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    overflow: hidden;
}

 .highlighted {
    /*outline: 1px solid white;*/
}


/** =========================== Theme specific =================== */
#sidebar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url(/img/gui/leftPanel/vTiledBack.png);
    width: 175px;
    z-index: 999999;
}

#sidebar div, #sidebar span, #sidebar h1, #sidebar h2 {
    color: white;
}

body {
    background-image: url(/img/gui/mapBack/1.jpg);
}